:root {
    --corners: 15px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
}
body {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}
#main-container {
    width: 60%;
}
header {
    height: 180px;
    width: 100%;
    margin-bottom: 26px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#heading {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}
#action-buttons {
    display: grid;
    grid-auto-flow: column;
}
#sorting-buttons {
    display: grid;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.project-container {
    border: 0px solid black;
}
.project-content {
    margin: 6px;

    display: flex;
    flex-direction: column;
    gap: 6px;
}
.project-title {
    width: 100%;
    text-align: left;
    padding: 8px 22px 8px;
    font-size: 1.4em;
}
.todo-container {
    border: 1px solid grey;

    display: grid;
    grid-template-areas: 
        'isDone title title expand'
        '. content content content';
}
.todo-title {
    grid-area: title;
}
.toggle-status-btn {
    grid-area: isDone;
}
.todo-btns-container {
    grid-area: buttons;
}
.todo-expand-btn {
    grid-area: expand;
}
.todo-expanded-content {
    grid-area: content;

    display: grid;
    grid-template-areas: 
        'due due priority'
        'desc desc desc'
        'checklist checklist checklist'
        '. . buttons';
}
.todo-priority {
    grid-area: priority;
}
.todo-due-date {
    grid-area: due;
}
.todo-desc {
    grid-area: desc;
}
.todo-checklist {
    grid-area: checklist;
}
.toggle-status-btn {
    width: 28px;
    height: 28px;
}
.todo-false {
    background-color: red;
}
.todo-true {
    background-color: green;
}

.todo-del-btn {
    background: salmon;
}
.todo-edit-btn {
    background: mediumslateblue;
}
.hidden {
    display: none;
}

/*    dialogs   */

dialog {
    filter: drop-shadow(-2px 2px 2px black);

    width: 60%;
    margin: auto;
    padding: 26px 26px 32px 26px;

    border-radius: var(--corners);
}

#add-todo-container,
#add-project-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
#add-todo-form,
#add-project-form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
#submit-todo,
#submit-project,
#change-todo {
    align-self: center;
    width: 100%;

    margin-top: 12px;
}
#submit-todo button,
#submit-project button,
#change-todo button{

    width: 100%;
}

#add-title,
#add-project,
#add-desc-button.shown,
#add-due-date-button.shown,
#add-checklist-button.shown,
#add-desc.shown,
#add-due-date.shown,
#add-checklist.shown {
    display: grid;
    grid-template-columns: 40% 60%;
}
#add-desc-button.shown button,
#add-due-date-button.shown button,
#add-checklist-button.shown button{
    grid-column: 2 / 3;
}

#add-priority {
    display: grid;
    grid-template-columns: 40% 22px auto;
    justify-content: start;
}
#add-priority p {
    grid-row: 1 / 4;
}
#add-priority label {
    margin-left: 6px;
}
#add-checklist p {
    grid-row: 1 / 3;
}
#add-checklist ol {
    list-style-type: none;
    display: grid;
    grid-template-columns: 22px auto;
    row-gap: 4px;
}
#add-checklist input {
    width: 100%;
}

#add-checklist button {
    margin-top: 6px;
}