* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
}
body {
    background-color: aquamarine;
}

.project-container {
    border: 2px solid black;
    padding: 6px;
}
.todo-container {
    border: 1px solid grey;
    margin: 4px;
}
.toggle-status-btn {
    background: salmon;
}