:root {
    --corners: 15px;
    --walter: 'walter', 'Courier New', Courier, monospace;
}

@font-face {
    font-family: 'walter';
    src: url('fonts/WalterTurncoat-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
}
body {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}
#main-container {
    width: 60%;
}
header {
    height: 180px;
    width: 100%;
    margin-bottom: 26px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 12px;
}

#heading {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

#heading h1 {
    font-family: walter;
    font-size: 3.2em;
}
#action-buttons {
    display: grid;
    grid-auto-flow: column;
}
#sorting-buttons {
    display: grid;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.project-container {
    border: 0px solid black;
}
.project-content {
    margin: 6px;

    display: flex;
    flex-direction: column;
    gap: 6px;
}
.project-title {
    width: 100%;
    text-align: left;
    padding: 8px 22px 8px;

    font-family: var(--walter);
    font-size: 1.8em;
}
.todo-container {
    border: 1px solid grey;

    display: grid;
    grid-template-areas: 
        'isDone title title expand'
        '. content content content';
}
.todo-title {
    grid-area: title;

    font-family: walter;
    text-decoration: underline;
}
.todo-btns-container {
    grid-area: buttons;
}
.todo-expand-btn {
    grid-area: expand;
}
.todo-expand-btn.open {
    background-image: url('icons/chevron-up.svg');
}
.todo-expand-btn.closed{
    background-image: url('icons/chevron-down.svg');
}
.todo-expanded-content {
    grid-area: content;

    display: grid;
    grid-template-areas: 
        'due due priority'
        'desc desc desc'
        'checklist checklist checklist'
        '. . buttons';
}
.todo-priority {
    grid-area: priority;
}
.todo-due-date {
    grid-area: due;
}
.todo-desc {
    grid-area: desc;
}
.todo-checklist {
    grid-area: checklist;
}
.toggle-status-btn {
    grid-area: isDone;
}
.todo-false {
    background-image: url('icons/checkbox-blank-outline.svg');
}
.todo-true {
    background-image: url('icons/checkbox-marked-outline.svg');
}

.todo-del-btn {
    background-image: url('icons/trash-can-outline.svg');
}
.todo-edit-btn {
    background-image: url('icons/pencil-outline.svg');
}
.todo-expand-btn,
.toggle-status-btn,
.todo-edit-btn,
.todo-del-btn {
    width: 32px;
    height: 32px;
    background-size: 100%;
    background-position: center;
    border: 0;
}
.toggle-status-btn:active,
.todo-expand-btn:active,
.todo-edit-btn:active,
.todo-del-btn:active {
    transform: translateY(2px) translateX(2px);
}
.hidden {
    display: none;
}

/*    dialogs   */

dialog {
    filter: drop-shadow(-2px 2px 2px black);

    width: 60%;
    margin: auto;
    padding: 26px 26px 32px 26px;

    border-radius: var(--corners);
}

#add-todo-container,
#add-project-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
#add-todo-form,
#add-project-form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
#submit-todo,
#submit-project,
#change-todo {
    align-self: center;
    width: 100%;

    margin-top: 12px;
}
#submit-todo button,
#submit-project button,
#change-todo button{

    width: 100%;
}

#add-title,
#add-project,
#add-desc-button.shown,
#add-due-date-button.shown,
#add-checklist-button.shown,
#add-desc.shown,
#add-due-date.shown,
#add-checklist.shown {
    display: grid;
    grid-template-columns: 40% 60%;
}
#add-desc-button.shown button,
#add-due-date-button.shown button,
#add-checklist-button.shown button{
    grid-column: 2 / 3;
}

#add-priority {
    display: grid;
    grid-template-columns: 40% 22px auto;
    justify-content: start;
}
#add-priority p {
    grid-row: 1 / 4;
}
#add-priority label {
    margin-left: 6px;
}
#add-checklist p {
    grid-row: 1 / 3;
}
#add-checklist ol {
    list-style-type: none;
    display: grid;
    grid-template-columns: 22px auto;
    row-gap: 4px;
}
#add-checklist input {
    width: 100%;
}

#add-checklist button {
    margin-top: 6px;
}